<% content_for :body_class, "section-artists page-artists site-responsive responsive-top-size-1023 responsive-nav-standard responsive-nav-side-position-left analytics-track-all-links no-page-params nopopups" %>
<% content_for :title, "Models | "%>
<div id="main_content" class="clearwithin">
  <!--contentstart-->
  <div class="subsection-artists-list">
    <div class="artists-header heading_wrapper clearwithin">
      <h1>Artists</h1>
    </div>
    <!-- start content -->
    <div id="content" class="clearwithin">
      <div id="artist_list_selector" class="navigation">
        <div class="inner">
          <ul class="clearwithin">
            <li id="work_by" class="active"><a href="#">Models</a></li>
          </ul>
          <div class="subnav-border"></div>
        </div>
      </div>
  
      <div class="subsection-artist-list-preview-letters">
        <div id="content_module" class="clearwithin">
          <div class="artist-list-buttons"></div>
          <div class="artist-list-wrapper">
            <div id="list_preview_navigation" class="records_list columns_list clearwithin">
              <%= render 'artists_list' %>
            </div>
          </div>
        </div>
        <%= render 'sidebar' %>
        <div class="clear"></div>
    </div>

    </div>

    <div class="clear"></div>
    <%= render 'artists/mobile/mobile_artist_list' %>
  </div>
</div>
