<% content_for :body_class, "section-artists page-artists site-responsive responsive-top-size-1023 responsive-nav-standard responsive-nav-side-position-left analytics-track-all-links page-param-136-anonymous page-param-overview page-param-type-artist_id page-param-type-subsection nopopups" %>
<% content_for :title, "Models | "%>
  <div id="main_content" class="clearwithin">
    <!--contentstart-->
    <div class="exhibition">
      <div class="subsection-artist-detail-page subsection-wrapper-overview">
        <div class="artist-header heading_wrapper clearwithin">
          <div id="h1_wrapper" class="">
            <h1 class="has_subnav" data-onclick-url="/artists/136/">
              <%= @artworks.first.photo_name if @artworks.first%>
            </h1>
          </div>
          <div id="sub_nav" class="navigation  noprint clearwithin">
            <div class="subnav-reveal-wrapper">
              <div class="subnav_active_indicator"></div>
              <div id="custom_sub_nav_reveal"></div>
            </div>
            <ul>
              <li id="sub-item-overview" class="active first scrollto">
                <a href="#content_module">Overview</a>
              </li>
            </ul>
          </div>
          <div id="sub_nav_clear" class="clear"></div>
        </div>
        <div id="content" class="content_alt clearwithin">
          <div class="subsection-works">
            <%= render 'artworks_slideshow' %>
          </div>
          <div class="inner slick-caption-wrapper">
            <div class="slick-caption-inner clearwithin">
              <div class="slick-artwork-caption">
                <span></span>
              </div>
              <div class="slick-artwork-enlarge">
                <a class="slick_image_popup">Enlarge</a>
              </div>
              <div class="artwork-buy-button">
                <a href="#"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
