<span class="content">
  <h2><%= artist.full_name %></h2>
  <a href="<%= artist_path(artist.short_name) %>">
    <span class="link">
      <span class="read_more_label">See more</span>
    </span>
  </a>
</span>
