 <% content_for :body_class, "section-about page-about site-responsive responsive-top-size-1023 responsive-nav-standard responsive-nav-side-position-left analytics-track-all-links no-page-params nopopups" %>
<% content_for :title, "About | "%>
 <div id="main_content" class="clearwithin">
            <!--contentstart-->
            




<div class="heading_wrapper clearwithin">
    <h1>ABOUT</h1>
</div>




    <div id="content" class="inner clearwithin">

        <div id="sidebar">
                <div class="sidebar-module">
                    <h3>Photographer</h3>
                    


                </div>
        </div>

        <div id="content_module" class="clearwithin">
            <div class="column_text">
                    <p style="text-align: justify;">Профессиональный фотограф может почувствовать то, что чувствуете вы - посредством фотографии. У него есть талант улавливать особенное и неповторимое в вас и вашем дне - и отражать все это на фото. Я - фотограф, и моя профессия - радовать и приятно удивлять своей работой людей, которые ко мне обращаются. Моменты, в которые мои услуги будут полезны, не ограничены никакими рамками. Выберите то, что нужно вам!
                    <p style="text-align: justify;">&nbsp;</p>
Как фотограф предлагаю вам комфортную съемку, живые идеи и насыщенные красотой фото, а доступность цен на свадебные и другие услуги вы можете оценить лично - на соответствующей странице моего сайта.</p>
<p style="text-align: justify;">&nbsp;</p>
<p style="text-align: justify;">Свадебный фотограф в Минске - востребованный человек, тем более, если он создает фото, из которых исходит и красота, и счастье, и неповторимость дня свадьбы. При этом – не важно, сколько прошло времени, вы откроете альбом - и этот день вновь откроется перед вами или вашими близкими таким ярким, каким он и был.</p>
<p style="text-align: justify;">&nbsp;</p>

<p style="text-align: justify;">Чтобы заказать услуги фотографа в Минске или любом другом уголке Беларуси для себя или своих близких, просто свяжитесь со мной по контактному телефону или электронной почте!.</p>
                    <div class="divider inner"></div>
            </div>
        </div>

    </div>



            <!--contentend-->
        </div>


        