<% content_for :body_class, "section-contact page-contact site-responsive responsive-top-size-1023 responsive-nav-standard responsive-nav-side-position-left analytics-track-all-links no-page-params nopopups" %>
<% content_for :title, "Contact | "%>
<div id="main_content" class="clearwithin">
  <!--contentstart-->
  <div class="heading_wrapper clearwithin">
    <h1>Contact</h1>
  </div>
  <div id="map_basic" data-latlng="53.89260523,27.5474453" data-url="" data-title="Michael Hoppen Gallery" style=""></div>

  <%= render 'maps_js' %>

  <div class="divider inner"></div>
  <div id="map"> </div>
  <div class="inner">
    <div id="content" class="clearwithin">
      <div class="content_module_wrapper">
        <div id="content_module" class="clearwithin">
          <p>Vlad Hilko</p>
          <p>3 Nemiga</p>
          <p>Minsk</p>
          <p>&nbsp;</p>
          <p>Tel: +375 (29)937 99 92</p>
          <p>&nbsp;</p>
          <p>Working hours:</p>
          <p>Monday - Friday, 9:30am - 6pm</p>
          <p>Saturday,&nbsp;<span>10:30am - 5pm</span></p>
          <p>&nbsp;</p>
          <p>author@example.com</p>
          <p>&nbsp;</p>
          <div class="divider inner"></div>
        </div>
        <div class="contact-form-wrapper">
          <div id="contact_form_inline"></div>
        </div>
      </div>
      <div id="sidebar">
        <div class="sidebar-module clearwithin">
          <h3>Follow me</h3>
          <div id="social_links">
            <div id="facebook_link" class="social_links_item">
              <a href="https://www.facebook.com/" class=""><i class="fa fa-facebook-square"></i><span class="social_icon_text">Facebook</span></a>
            </div>
            <div id="twitter_link" class="social_links_item">
              <a href="https://twitter.com/" class=""><i class="fa fa-twitter"></i><span class="social_icon_text">Twitter</span></a>
            </div>
            <div id="vk_link" class="social_links_item">
              <a href="https://twitter.com/" class=""><i class="fa fa-vk"></i><span class="social_icon_text">Vkontakte</span></a>
            </div>
            <div id="instagram_link" class="social_links_item">
              <a href="http://instagram.com/" class=""><i class="fa fa-instagram"></i><span class="social_icon_text">Instagram</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--contentend-->
</div>
