 <% content_for :body_class, "section-contact page-contact site-responsive responsive-top-size-1023 responsive-nav-standard responsive-nav-side-position-left analytics-track-all-links no-page-params nopopups" %>
<% content_for :title, "Contact | "%>
 <div id="main_content" class="clearwithin">
            <!--contentstart-->
            


<div class="heading_wrapper clearwithin">
    <h1>Contact</h1>
</div>




    



<div id="map_basic" data-latlng="53.89260523,27.5474453" data-url="" data-title="Michael Hoppen Gallery" style=""></div>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">


    $(function initializemap_basic() {


    var latlng = $('#map_basic').attr('data-latlng').split(',');

    if (latlng.length == 2) {
        var lat = $('#map_basic').attr('data-latlng').split(',')[0];
        var lng = $('#map_basic').attr('data-latlng').split(',')[1];
        var map_title = $('#map_basic').attr('data-title');
        var map_link = $('#map_basic').attr('data-url');
        var map;

       //styles for maps
        var new_styles =
            [{"featureType":"all","elementType":"labels.text.stroke","stylers":[{"visibility":"off"}]},{"featureType":"administrative","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"landscape","elementType":"geometry.fill","stylers":[{"color":"#1f1f1f"}]},{"featureType":"landscape","elementType":"labels","stylers":[{"visibility":"on"}]},{"featureType":"poi","elementType":"geometry","stylers":[{"visibility":"off"}]},{"featureType":"road.local","elementType":"geometry.stroke","stylers":[{"visibility":"off"}]},{"featureType":"road.local","elementType":"geometry.fill","stylers":[{"color":"#525252"},{"weight":1.16}]},{"featureType":"road.local","elementType":"labels.text.fill","stylers":[{"color":"#a8a8a8"},{"saturation":-100}]},{"featureType":"transit.line","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"transit.station","elementType":"labels.text.fill","stylers":[{"color":"#bfbfbf"}]},{"featureType":"poi","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"poi.park","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#242424"}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#707070"}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"visibility":"on"},{"color":"#7a7a7a"}]},{"featureType":"road.highway","elementType":"labels.text.fill","stylers":[{"color":"#f0f0f0"}]},{"featureType":"road.highway","elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#4f4f4f"},{"weight":1.93}]},{"featureType":"road.arterial","elementType":"geometry.fill","stylers":[{"color":"#d6d6d6"}]},{"featureType":"road.local","elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#1a1a1a"},{"weight":1.56}]},{"featureType":"poi.park","elementType":"labels","stylers":[{"visibility":"simplified"}]},{"featureType":"poi.park","elementType":"labels.icon","stylers":[{"invert_lightness":false},{"hue":"#5c215c"},{"saturation":-100},{"lightness":-37}]},{"featureType":"poi.park","elementType":"labels.text.fill","stylers":[{"visibility":"simplified"},{"color":"#7a7a7a"}]},{"featureType":"water","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#27394f"}]},{"featureType":"road.arterial","elementType":"labels.text.fill","stylers":[{"color":"#000000"}]}]

            //locations
            var position = new google.maps.LatLng(lat, lng);

            //center on location
            var center = new google.maps.LatLng(lat, lng);

            //map options
            var myOptions = {
              zoom: 16,
              center: center,
              scroll:{x:$(window).scrollLeft(),y:$(window).scrollTop()},
              mapTypeId: google.maps.MapTypeId.ROADMAP,
              panControl: false,
              //panControl: true,
              //panControlOptions: {
              //    position: google.maps.ControlPosition.TOP_RIGHT
              //},
              zoomControl: true,
              zoomControlOptions: {
                style: google.maps.ZoomControlStyle.SMALL,
                position: google.maps.ControlPosition.LEFT_TOP
              },
              scaleControl: false,
              streetViewControl: false,
              overviewMapControl: false,
              scrollwheel: false,
              draggable: false,
              styles: new_styles,
              mapTypeControl: false
            }




            //insert the map into the id on page using map options etc
            var map = new google.maps.Map(document.getElementById("map_basic"), myOptions);


            // each marker config
            // var marker = new google.maps.Marker({
            //     position: position,
            //     map: map,
            //     url: map_link,
            //     title: map_title,
            // });

            // var x=new google.maps.LatLng(52.395715,4.888916);

            var topleft=new google.maps.LatLng(53.89295928, 27.54916191);
            var topright=new google.maps.LatLng(53.89311102, 27.55016191);
            var bottomright=new google.maps.LatLng(53.89321218,27.55016191);
            var bottomleft=new google.maps.LatLng(53.89300986, 27.54916191);

            var myTrip=[topleft,topright,bottomright,bottomleft];
            var flightPath=new google.maps.Polygon({
              path:myTrip,
              strokeColor:"#ef662f",
              strokeOpacity:1.0,
              strokeWeight:2,
              fillColor:"#ef662f",
              fillOpacity:1.0
              });

            flightPath.setMap(map);
            

            





            if ($(window).width() > 960) {
 
                var offset=$(map.getDiv()).offset();
                map.panBy(((myOptions.scroll.x-offset.left)/3),((myOptions.scroll.y-offset.top)/3));

                google.maps.event.addDomListener(window, 'scroll', function(){
                    var scrollY=$(window).scrollTop(),
                    scrollX=$(window).scrollLeft(),
                    scroll=map.get('scroll');
                    if(scroll){
                        map.panBy(((scroll.x-scrollX)/3),((scroll.y-scrollY)/3));
                    }
                    map.set('scroll',{x:scrollX,y:scrollY})
                });
            }
            


            if (map_link != '') {
                google.maps.event.addListener(marker, 'click', function() {
                    window.open(
                      marker.url,
                      '_blank'
                    );
                });
            }



            marker_michael_hoppen = new google.maps.Marker({
                position: new google.maps.LatLng(bottomleft.lat() - (0.000038 * Math.pow(2, (21 - map.getZoom()))), -0.166129),
                map: map
            });

             google.maps.event.addListener(map, "zoom_changed", function() {
                newlat = bottomleft.lat() - (0.000038 * Math.pow(2, (21 - map.getZoom())));
                marker_michael_hoppen.setPosition(new google.maps.LatLng( newlat, marker_michael_hoppen.getPosition().lng() ));
             });




        }

    });


    $( window ).load(function() {
        setTimeout(function() {
                //$("img[src$='google_white2.png']").css({ opacity: 0 });
                //$(".gm-style-cc").css({ opacity: 0 });
                //$("img[src$='google_white2.png']").css({ background: 'none'});
                $(".gm-style-cc div, .gm-style-cc a").css({background: 'none', color: '#333'});
        }, 1000);
    });

</script>

    <div class="divider inner"></div>


<div id="map"> </div>

<div class="inner">
    <div id="content" class="clearwithin">


        <div class="content_module_wrapper">
            <div id="content_module" class="clearwithin">
                    <p>Vlad Hilko</p>
<p>3 Nemiga</p>
<p>Minsk</p>
<p>&nbsp;</p>
<p>Tel: +375 (29)937 99 92</p>
<p>&nbsp;</p>
<p>Working hours:</p>
<p>Monday - Friday, 9:30am - 6pm</p>
<p>Saturday,&nbsp;<span>10:30am - 5pm</span></p>
<p>&nbsp;</p>
<p>author@example.com</p>
<p>&nbsp;</p>

                    <div class="divider inner"></div>


            </div>
            <div class="contact-form-wrapper">
                <div id="contact_form_inline"></div>
            </div>

        </div>


        <div id="sidebar">

            <div class="sidebar-module clearwithin">
                <h3>Follow me</h3>
                        <div id="social_links">
                                    <div id="facebook_link" class="social_links_item">
                                        <a href="https://www.facebook.com/" class=""><i class="fa fa-facebook-square"></i><span class="social_icon_text">Facebook</span></a>
                                    </div>

                                    <div id="twitter_link" class="social_links_item">
                                        <a href="https://twitter.com/" class=""><i class="fa fa-twitter"></i><span class="social_icon_text">Twitter</span></a>
                                    </div>
                                     <div id="vk_link" class="social_links_item">
                                        <a href="https://twitter.com/" class=""><i class="fa fa-vk"></i><span class="social_icon_text">Vkontakte</span></a>
                                    </div>

                                    <div id="instagram_link" class="social_links_item">
                                        <a href="http://instagram.com/" class=""><i class="fa fa-instagram"></i><span class="social_icon_text">Instagram</span></a>
                                    </div>

                        </div>
            </div>








        </div>


    </div>
</div>

            <!--contentend-->
        </div>